html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .header {
  width: 100%;
  height: 1.17333rem;
  z-index: 9999;
}

.wrapper .header input {
  width: 80%;
  height: 1.06667rem;
  border: 1px solid #ccc;
  border-radius: 0.13333rem;
  margin-left: 0.93333rem;
  position: relative;
  font-size: 0.42667rem;
  text-indent: 2.26667rem;
  margin-top: 0.53333rem;
  background: #fff;
}

.wrapper .header span {
  position: absolute;
  left: 1.33333rem;
  top: 0.8rem;
}

.wrapper .header i {
  position: absolute;
  left: 2.66667rem;
  top: 0.8rem;
  font-size: 0.4rem;
}

.wrapper .main {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
}

.wrapper .main .img {
  width: 100%;
  height: 5.33333rem;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .main .img img {
  width: 100%;
  height: 100%;
}

.wrapper .main .list {
  width: 100%;
  height: 5.33333rem;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 4.26667rem;
}

.wrapper .main .list a {
  width: 20%;
  text-align: center;
}

.wrapper .main .list a i {
  display: block;
  width: 1.17333rem;
  height: 1.17333rem;
  border-radius: 50%;
  font-size: 0.48rem;
  background: skyblue;
  text-align: center;
  line-height: 1.17333rem;
  margin: 0 auto;
}

.wrapper .main .list a p {
  font-size: 0.42667rem;
  color: #ccc;
  margin-top: 0.26667rem;
}

.wrapper .main .con {
  width: 100%;
  height: 1.33333rem;
  border-bottom: 2px solid #ccc;
}

.wrapper .main .con dl {
  display: flex;
  padding: 0 0.8rem;
}

.wrapper .main .con dl dd img {
  width: 0.8rem;
  text-align: center;
  margin: 0 auto;
}

.wrapper .main .con dl dt {
  font-size: 0.4rem;
  margin-left: 0.26667rem;
}

.wrapper .main .cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper .main .cont img {
  width: 45%;
  height: 2.13333rem;
  padding: 0 0.26667rem;
  margin-top: 0.26667rem;
  margin-bottom: 0.13333rem;
}

.wrapper .footer {
  width: 100%;
  height: 1.33333rem;
  display: flex;
}

.wrapper .footer a {
  width: 20%;
  text-align: center;
}

.wrapper .footer a i {
  font-size: 0.48rem;
  text-align: center;
  margin: 0 auto;
}

.wrapper .footer a p {
  font-size: 0.42667rem;
  color: #ccc;
}
